@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: Caveat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px; /*aligns the letters on the logo and the menu. By default letters are vertically centered within its line height */
}

#menu li {
    margin-right: 30px;
    list-style-type: none;
    display: inline-block;
    text-align: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;  /*could also use "text-decoration: underline",but you will have no control over the underline thickness and color */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#cover-text, #cover-text h2 {
    color: #ffff;

}

#hero-outer {           /*used to contain the hero image*/
    height: 600px;
    width: 100%;
    overflow: hidden;    /*prevents image from overlapping with title and nav links */
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

     /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;              /*'forwards' means that the image zooms in, and stays at that size */
}

/* creates level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);    /* from scale(1) means we're starting with the image at 100% of its size */ 
    }
    to {
        transform: scale(1.1); /* to scale (1.1) means we're ending with the image 10% larger than its original size */
    }
}

#cover-text {
    font-size: 130%;
    font-family: Caveat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* club ethos */

#club-ethos {
    height: 600px;      /* same height as hero image */
}   

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;         /*uses a third of the screen (law of thirds) - good visual balance */
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}
.about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;  
}
.left-about-heading {
    float: right;
}

.right-about-heading {
    float: left;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%; /*setting border radius to 50% on an element with equal width and height will create a circle */          
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* meeting times */
#meeting-times {
    background: url("../images/dublin-city.webp") no-repeat center center;
    background-size: cover;     /* forces background image to fill the whole block */
    width: 100%;
    overflow: hidden;
}

#meeting-times div {
    color: #fafafa;                         /* light color to contrast with dark background */
    background-color: rgb(0, 0, 0, .6);     /* opaque dark background to highlight text even further */
    width: 20%;     /* 5 panels should take length of the inline block, hece the 20% value */
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;     /* "border-box" tells browser to include border width in the total size of the element (so that the 5 panels don't exceed 100% of the width of the block */
}

#meeting-times h2 {
    color: #fafafa;
}

/*footer*/
footer {
    height: 150px;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer ul i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*gallery*/
#photos {
    clear: both;    /* tells brower to display photos below header and above footer */
    line-height: 0; /* removes horizontal gap between pictures */
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;    /* makes sure photos don't overlap */
}

/* media queries (responsive elements) */
/* any CSS applied between the curly braces below will only apply to smaller screens */

@media screen and (max-width: 1200px) {   

    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}